/*===================================*\
  #variables.css
\*===================================*/

/* copyright 2022 @Aviwe Mbolekwa */


:root {

  /**
   * Colors 
   */

   --eerie-navy-dark:#313556;
   --liver-chestunut: #6B79BD;
   --battleship-gray: #e2e0e0cb;
   --spanish-gray:    #9F8D7F;
   --spanish-gray-hover: #856956f8;
   --white:           #E4E4E4;
   --purple:           #bfa5d8;

  /**
   * Typograpy 
   */

  --fs-1: 36px;
  --fs-2: 30px;
  --fs-3: 24px;
  --fs-4: 20px;
  --fs-5: 18px;
  --fs-6: 14px;
  --fs-7: 10px;

  /**
   * Others 
   */

  --default-transition: 0.25s ease;

}