/*===================================*\
  #variables.css
\*===================================*/

/* copyright 2022 @Aviwe Mbolekwa */


:root {

  /**
   * Colors 
   */

   --eerie-navy-dark:#143f5c;
   --liver-chestunut: #d49f2c;
   --battleship-gray: #878787;
   --spanish-gray:    #999999;
   --eerie-navy:     #143f5c;
   --smoky-navy:     #143f5c;
   --light-gray:      #cccccc;
   --gainsboro:       #dedede;
   --white:           #ffffff;
   --jet:             #487695;

  /**
   * Typograpy 
   */

  --fs-1: 36px;
  --fs-2: 30px;
  --fs-3: 24px;
  --fs-4: 20px;
  --fs-5: 18px;
  --fs-6: 14px;
  --fs-7: 10px;

  /**
   * Others 
   */

  --default-transition: 0.25s ease;

}