/*===================================*\
  #variables.css
\*===================================*/

/* copyright 2022 @Aviwe Mbolekwa */

:root {
  /**
   * Colors 
   */

  --eerie-navy-dark: #191C2F;
  --liver-chestunut: #A3A4D6;
  --battleship-gray: #e2e0e0cb;
  --spanish-gray: #B6A99F;
  --spanish-gray-hover: #958660;
  --white: #e4e4e4;
  --purple: #bfa5d8;

  /**
   * Typograpy 
   */

  --fs-1: 36px;
  --fs-2: 30px;
  --fs-3: 24px;
  --fs-4: 20px;
  --fs-5: 18px;
  --fs-6: 14px;
  --fs-7: 10px;

  /**
   * Others 
   */

  --default-transition: 0.25s ease;
}
